@font-face {
  font-family: "Playpen";
  src: url("src/fonts/PlaypenSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Playpen", sans-serif;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}

#display-area {
  background-color: rgb(255, 250, 250);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 0px 0px 50px rgb(157, 121, 140);
  height: 75%;
  width: 75%;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 4.1vw;
  color: rgb(222, 99, 179);
  margin-top: 5%;
  padding: 10px 20px 10px 20px;
}

h2 {
  color: rgb(218, 36, 33);
  font-size: 1em;
}

#btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-start;  */
}

button {
  width: 30%;
  border-radius: 25px;
  padding-bottom: 5px;
  border: none;
  color: white;
  font-size: 3vw;
  cursor: pointer;
  line-height: 2;
}

#yes-btn:hover {
  background-color: rgb(18, 155, 18);
  transform: scale(1.03);
}

#yes-btn {
  background-color: rgb(15, 132, 15);
  box-shadow: 0px 0px 20px rgb(134, 134, 134);
  position: relative;
}

#no-btn {
  background-color: rgb(218, 36, 33);
  box-shadow: 0px 0px 20px rgb(134, 134, 134);
  position: relative;
  transition: transform 0.2s ease;
}

.hidden {
  display: none;
}

img {
  width: 250px;
}
